.footer {
    height: min-content;
    margin-top: 157px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
}

.p2, .p1 {
    font-size: 16px;
    color: #292929;
}

.p2 {
    text-align: right;
}

.adress {
    margin-right: 40px;
}

.links * + * {
    margin-left: 10px;
}

.links {
    margin-top: 71px;
}