.header {
    display: flex;
    justify-content: space-between;
    width: 1536px;
    margin: 0 auto;
    margin-bottom: 54px;
}

.close {
    width: 32px;
    height: 1px;
    margin-top: 15px;
    cursor: pointer;
}

.close::after,
.close::before {
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    height: 1px;
    border-radius: 1px;
    margin-top: 22px;
    background-color: #292929;
}

.close::after {
    transform: rotate(45deg);
}

.close::before {
    transform: rotate(315deg);
}

.burger {
    margin-top: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 30;
}

hr {
    border: 0;
    border-top: 1px solid #292929;
    height: 1px
}

span {
    color: #4336BE;
}

h2 {
    color: #292929;
}

h2,
span {
    font-size: 30px;
}

@keyframes closeButton {
    from {

    }
    to 
    {
        
    }
}