@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', cursive;
    font-size: 16px;
}

.container {
    width: 1536px;
    margin: 0 auto;
}

.socialNetwork {
    margin-top: 294px;
}

.socialNetwork>a {
    margin-left: 15px;
}

h1 {
    font-size: 64px;
    color: #292929;
    margin-bottom: 30px;
    line-height: 78px;
}

h2 {
    font-size: 36px;
    color: #292929;
}

.princips {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.page {
    animation: extension 1s;
}

.aboutPrincCard {
    width: 600px;
    height: 310px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 140px;
    margin-bottom: 60px;
}

.dotes::after {
    content: '................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a................................................................................................................\0a.........................';
    z-index: -1;
    white-space: pre;
    position: absolute;
    display: inline-block;
    left: 1265px;
    top: 950px;
    right: 350px;
    width: 463px;
    height: 320px;
    color: #4336be;
    line-height: 10px;
    font-size: large;
}

.aboutPrincCardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 110px auto 0px auto;
}

.burgerLine {
    border: none;
    background-color: #4336be;
    color: #4336be;
    height: 1px;
}

p {
    font-size: 24px;
    color: #a0a0a0;
    line-height: 29px;
}

.project {
    color: #4336be;
}

a {
    text-decoration: none;
    color: #292929;
    font-size: 16px;
}

.arrow {
    border: 1px solid #4336be;
    transform: rotate(180deg);
    width: 100px;
    height: 0px;
    margin-top: 40px;
    margin-left: 100px;
}

.arrowBlack {
    border: 1px solid #292929;
    transform: rotate(180deg);
    width: 100px;
    height: 0px;
    margin-left: 50px;
}

.arrowBlack::after,
.arrowBlack::before {
    position: absolute;
    width: 5px;
    height: 0px;
    display: block;
    content: '';
    border: 1px solid #292929;
    background-color: #292929;
    left: -4px;
}

.arrowBlack::after {
    transform: rotate(45deg);
    top: 1px;
}

.arrowBlack::before {
    transform: rotate(-45deg);
    bottom: 1px;
}

.siciliaImg::after {
    content: '.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a';
    z-index: -1;
    white-space: pre;
    position: absolute;
    display: inline-block;
    left: 1365px;
    top: 410px;
    right: 0px;
    color: #1C5947;
    line-height: 10px;
    font-size: 25px;
}

.asabiImg::after {
    content: '.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a';
    z-index: -1;
    white-space: pre;
    position: absolute;
    display: inline-block;
    left: 165px;
    top: 900px;
    right: 0px;
    color: #F6343B;
    line-height: 10px;
    font-size: 25px;
}

.cincImg::after {
    content: '.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................';
    z-index: -1;
    white-space: pre;
    position: absolute;
    display: inline-block;
    left: 1365px;
    top: 1350px;
    right: 0px;
    color: #1840A7;
    line-height: 10px;
    font-size: 25px;
}

.shebImg::after {
    content: '.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a.....................................................................\0a...............................................................\0a...............................................................';
    z-index: -1;
    white-space: pre;
    position: absolute;
    display: inline-block;
    left: 65px;
    top: 1850px;
    right: 0px;
    color: #EDA517;
    line-height: 10px;
    font-size: 25px;
}

.arrow::after,
.arrow::before {
    position: absolute;
    width: 5px;
    height: 0px;
    display: block;
    content: '';
    border: 1px solid #4336be;
    background-color: #4336be;
    left: -4px;
}

.arrow::after {
    transform: rotate(45deg);
    top: 1px;
}

.blur {
    width: 70vw;
    height: 100vh;
    position: fixed;
    z-index: 30;
}

.arrow::before {
    transform: rotate(-45deg);
    bottom: 1px;
}

@keyframes extension {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.menu {
    position: fixed;
    width: 30vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    transition: all 1s;
}

.menu.active {
    transform: translateX(0%);
}

font {
    color: #292929;
}

.aboutUl {
    list-style-type: none;
    color: #4336be;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}

.image_wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.portElement {
    display: flex;
    align-items: center;
}