@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', cursive;
    font-size: 16px;
}

.container {
    width: 1536px;
    margin: 0 auto;
}

.socialNetwork {
    margin-top: 294px;
}

.socialNetwork>a {
    margin-left: 15px;
}

h1 {
    font-size: 64px;
    color: #292929;
    margin-bottom: 30px;
    line-height: 78px;
}

h2 {
    font-size: 36px;
    color: #292929;
}

p {
    font-size: 24px;
    color: #a0a0a0;
}

.project {
    color: #4336be;
}

a {
    text-decoration: none;
}

.arrow::after,
.arrow::before {
    position: absolute;
    width: 5px;
    height: 0px;
    display: block;
    content: '';
    border: 1px solid #4336be;
    background-color: #4336be;
    left: -4px;

}

.arrow::after {
    transform: rotate(45deg);
    top: 1px;
}

.blur {
    width: 70vw;
    height: 100vh;
    position: fixed;
    z-index: 30;
}

.arrow::before {
    transform: rotate(-45deg);
    bottom: 1px;
}

@keyframes extension {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.menu {
    position: fixed;
    width: 30vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    transition: all 1s;
}

.menu.active {
    transform: translateX(0%);
}

font {
    color: white;
}

.aboutUl {
    list-style-type: none;
    color: #4336be;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}