.ul {
    list-style-type: none;
}

.li {
    color: white;
}

.about {
    margin-left: 45px;
    font-size: 16px;
    color: #fff;
}

.links *+* {
    margin-left: 10px;
}

.links {
    margin-left: 45px;
    margin-top: 40px;
}
